/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

@-webkit-keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin pong($prompt-color) {
  @keyframes pong {
    0% {
      background-color: $prompt-color;
    }
    50% {
      background-color: inherit;
    }
    100% {
      background-color: $prompt-color;
    }
  }
}
